/*modal*/




/* scrollama */

img.scrollamaImg{
    display:block;
    margin: auto;
  }

.step div {
    animation-name: myAnimation01;
    animation-duration: 1000ms;
    animation-fill-mode: forwards;
    /*z-index: 10;*/
}

.step.is-active div, #scrollfig img.scrollamaImg {
    animation-name: myAnimation02;
    animation-duration: 1000ms;
    animation-fill-mode: forwards;
  }

.step[data-step="4"], .step.is-active[data-step="4"],.step[data-step="15"], .step.is-active[data-step="15"] ,.step[data-step="17"], .step.is-active[data-step="17"]  {
    background-color: #f3f3f3;
}


div .subtitle p {
    font-size: 1rem;
} 
  
img.scrollamaImg[src='../../../../../mngassets/posts/2024-05-27-tls-ssl-v1.2-handshake-made-simple-session-keys-generation/img/TLS - PRF Master Secret.svg'], img[src='../../../../../mngassets/posts/2024-05-27-tls-ssl-v1.2-handshake-made-simple-session-keys-generation/img/TLS - PRF Session Keys.svg']{
 max-height: 500px;
}

div.arrow-wrap{
  display:none;
}

@media only screen and (max-width: 600px){
  
  
  img.scrollamaImg[src='../../../../../mngassets/posts/2024-05-27-tls-ssl-v1.2-handshake-made-simple-session-keys-generation/img/TLS - PRF Master Secret.svg'], img[src='../../../../../mngassets/posts/2024-05-27-tls-ssl-v1.2-handshake-made-simple-session-keys-generation/img/TLS - PRF Session Keys.svg']{
    max-height: 250px;
   }

   .step{
    position:relative;
   }

   .step div{
    height: 100%;
    overflow-y: scroll;
   }

   div.arrow-wrap{
    display:block;
    position:absolute;
    right: 40%;
    height:50px;
    width:50px;
   }
   

   div.arrow-wrap.top{
    top: 5%;
    transform: rotate(180deg);
  }

  div.arrow-wrap.top .arrow.top{
    opacity:0;
  }

   div.arrow-wrap.down{
    top: 75%;
  }

   .step.title div{
    height: 70%;
   }
  }

  @media only screen and (max-height: 600px){
  
  
    img.scrollamaImg[src='../../../../../mngassets/posts/2024-05-27-tls-ssl-v1.2-handshake-made-simple-session-keys-generation/img/TLS - PRF Master Secret.svg'], img[src='../../../../../mngassets/posts/2024-05-27-tls-ssl-v1.2-handshake-made-simple-session-keys-generation/img/TLS - PRF Session Keys.svg']{
      max-height: 250px;
     }
  
     .step{
      position:relative;
     }
  
     .step div{
      height: 100%;
      overflow-y: scroll;
     }
  
     div.arrow-wrap{
      display:block;
      position:absolute;
      right: 40%;
      height:50px;
      width:50px;
     }
     
  
     div.arrow-wrap.top{
      top: 5%;
      transform: rotate(180deg);
    }

    div.arrow-wrap.top .arrow.top{
      opacity:0;
    }

     div.arrow-wrap.down{
      top: 75%;
    }

    .step.title div{
      height: 70%;
     }
    }
