img{
    display:block;
    margin: auto;
  }

.step div, #scrollfig img {
    animation-name: myAnimation01;
    animation-duration: 1000ms;
    animation-fill-mode: forwards;
    /*z-index: 10;*/
}

.step.is-active div, #scrollfig img.is-active {
    animation-name: myAnimation02;
    animation-duration: 1000ms;
    animation-fill-mode: forwards;
  }

.step[data-step="4"], .step.is-active[data-step="4"],.step[data-step="14"], .step.is-active[data-step="14"] ,.step[data-step="16"], .step.is-active[data-step="16"]  {
    background-color: #f3f3f3;
}


div .subtitle p {
    font-size: 1rem;
} 
  
img[src='../../../../../mngassets/posts/2024-05-27-tls-ssl-v1.2-handshake-made-simple-session-keys-generation/img/TLS - PRF Master Secret.svg'], img[src='../../../../../mngassets/posts/2024-05-27-tls-ssl-v1.2-handshake-made-simple-session-keys-generation/img/TLS - PRF Session Keys.svg']{
 max-height: 500px;
}